@media (max-width: 1300px) {
	#main-banner {
		flex-direction: column;
		#gif {
			position: relative;
			height: 500px;
			// width: 400px;
			margin: auto !important;
			padding-bottom: 1rem;
		}
		#about-section {
			padding: 0 0 2rem 0 !important;
		}
	}
}

@media (max-width: 1150px) {
	main {
		#projects {
			.project-boxes {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media (max-width: 800px) {
	#main-nav {
		.logo {
			font-size: 1.5rem;
		}
		#pageList {
			li {
				padding: 0.1rem;
			}
		}
	}

	main {
		#gif {
			height: 400px;
		}
		.skill-list {
			grid-template-columns: repeat(1, 1fr) !important;
			gap: 0 !important;
		}
		.project-boxes {
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}
}

@media (max-width: 700px) {
	#main-nav {
		bottom: 0;
		top: initial;
		position: fixed;
		width: 100%;
		border-top: 5px $dark-green solid;
		border-bottom: none;
		.container {
			padding: 0.7rem;
			flex-direction: column;
		}
		.logo {
			text-align: center;
			margin: auto;
		}
		#pageList {
			padding-top: 0.5rem;

			justify-content: space-between;
			li {
				padding: 0;
				padding-top: 0.2rem;
				margin: auto;
				&:hover {
					border: none;
				}
			}
			a {
				span {
					display: none;
				}
				i {
					display: inline-block;
				}
			}
		}
	}

	main {
		#main-banner {
			height: 92vh;
			#gif {
				height: 268px;
				padding-bottom: 0rem;
				padding-top: 2rem;
				margin: 0;
				margin-bottom: 0.3rem;
				// margin: 6rem 1.5rem 0 1.5rem !important;
			}
			#about-name {
				font-size: 1.5rem;
			}
			#about-block {
				font-size: 1rem;
			}
			#scroll-down {
				display: block;
				padding-top: 3rem;
				padding-bottom: 0rem;
			}
		}
		#submit-banner {
			height: 83vh;
			h1 {
				font-size: 2rem;
				padding: 1.5rem 1rem;
			}
		}

		#projects {
			.project-boxes {
				.project-links {
					flex-direction: column !important;
					align-items: flex-start;
					a {
						width: 100%;
						align-items: flex-start;
						justify-content: flex-start;
						&:first-child {
							margin-right: 0 !important;
						}
						i {
							align-items: flex-start;
							justify-content: flex-start;
							p {
								padding-top: 0.2rem;
							}
						}
					}
				}
			}
		}
	}

	.section-title {
		font-size: 1.8rem;
		letter-spacing: 0.3rem;
	}

	#submit-footer {
		padding: 0;
	}
	footer {
		#contact {
			padding: 0 0.5rem;
		}
		padding-bottom: 7rem;
		#contact-links {
			align-self: center;
			padding: 0 1rem;
			padding-bottom: 3rem;
			span {
				display: none;
			}
			li {
				padding: 0 0.5rem !important;
			}
		}
		#main-contact-form {
			width: 100%;
			.form-group {
				padding-bottom: 1rem;
				width: 100% !important;
			}
			input[type='submit'] {
				margin-bottom: 1rem !important;
			}
		}
	}
}

@media (max-width: 400px) {
	main {
		#main-banner {
			#gif {
				height: 250px;
			}
			#about-name {
				font-size: 1.2rem;
				padding-top: 1rem;
			}
			#scroll-down {
				padding-top: 1.5rem;
			}
		}
	}
}

// just iphone 5
@media (max-width: 320px) {
	main {
		#main-banner {
			#gif {
				position: relative;
				top: -2rem;
				margin: 0;
			}
			#about-section {
				position: relative;
				top: -4rem;
				margin: 0;
				padding: 0 0.5rem !important;
			}
			#about-name {
				font-size: 1rem;
			}
			#about-block {
				font-size: 0.7rem;
				padding: 0 1rem;
			}
			#scroll-down {
				padding-top: 1rem;
				font-size: 0.7rem;
			}
		}
		#submit-banner {
			height: 80vh;
		}
	}
}

@media (max-height: 520px) {
	main {
		#main-banner {
			#gif {
				height: 220px;
			}
		}
	}
}
