@media (max-height: 900px) {
}

@media (max-width: 800px) {
	#main-nav {
		.logo {
			font-size: 1.5rem;
		}
		#pageList {
			li {
				padding: 0.1rem;
			}
		}
	}

	main {
		#gif {
			height: 400px;
		}
		.skill-list {
			grid-template-columns: repeat(1, 1fr) !important;
			gap: 0 !important;
		}
		.project-boxes {
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}

	footer {
		padding: 1rem;
		#contact-links {
			flex-direction: column;
			align-items: flex-start;
			li {
				padding: 0.5rem 0;
			}
		}
	}
}

@media (max-width: 700px) {
	#main-nav {
		bottom: 0;
		top: initial;
		position: fixed;
		width: 100%;
		border-top: 5px $dark-green solid;
		border-bottom: none;
		.container {
			padding: 0.7rem;
			flex-direction: column;
		}
		.logo {
			text-align: center;
			margin: auto;
		}
		#pageList {
			padding-top: 0.5rem;

			justify-content: space-between;
			li {
				padding: 0;
				padding-top: 0.2rem;
				margin: auto;
				&:hover {
					border: none;
				}
			}
			a {
				span {
					display: none;
				}
				i {
					display: inline-block;
				}
			}
		}
	}

	main {
		#gif {
			height: 280px;
		}
		#main-banner {
			height: 90vh;
		}
		#projects {
			.project-links {
				flex-direction: column !important;
				a:first-child {
					margin-right: 0 !important;
				}
			}
		}
	}

	.section-title {
		font-size: 1.8rem;
		letter-spacing: 0.3rem;
	}

	footer {
		padding-bottom: 7rem;
	}
}
