@import 'utilities';

* {
	margin: 0;
	padding: 0;
}

body {
	background: $background-color;
	font-family: Arial, Helvetica, sans-serif;
}

// NAVBAR
#main-nav {
	border-bottom: 5px $dark-green solid;
	position: sticky;
	top: 0;
	background: $background-color;
	.container {
		padding: 1.5rem 3rem;
		justify-content: space-between !important;
	}
	.logo {
		font-family: 'Fredoka One', cursive;
		font-size: 2rem;
		letter-spacing: 0.1rem;
	}
	a {
		cursor: pointer;
	}

	#pageList {
		font-size: 1rem;
		display: flex;
		flex-direction: row;
		text-align: left;
		li {
			font-size: 1.2rem;
			margin: auto;
			padding-left: 3rem;
		}
		i {
			padding-right: 0.3rem;
		}
	}
}

// Main-section
main {
	#skills {
		padding-top: 3rem;
	}
}

// Footer
footer {
	margin-top: 3rem;
	background: $dark-green;
	color: #fff;
	padding: 2rem;
	h2 {
		padding-bottom: 2rem;
	}
	i {
		padding-right: 0.8rem;
		color: #fff;
	}
	a {
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.container {
		justify-content: center;
		align-items: center;
	}

	#contact-links {
		display: flex;
		align-items: center;
		justify-content: space-between;

		li {
			padding: 0 2rem;
		}

		li:hover i {
			opacity: 0.7;
		}
	}
}

@import 'media';
