.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #489c70;
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: #489c70 3px solid;
  max-width: none;
}

.bg-light {
  background: #fbf4e9;
  color: #489c70;
}

.bg-dark {
  background: #489c70;
  color: #fbf4e9;
}

.text-light {
  color: #fbf4e9 !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.section-title {
  color: #489c70;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin: auto;
}

.section-title i {
  padding-right: 1rem;
  font-size: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbf4e9;
  font-family: 'Open Sans', sans-serif;
}

#main-nav {
  border-bottom: 5px #489c70 solid;
  position: sticky;
  top: 0;
  background: #fbf4e9;
  z-index: 1;
}

#main-nav .container {
  padding: 1.5rem 3rem;
  justify-content: space-between !important;
}

#main-nav .logo {
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

#main-nav a {
  cursor: pointer;
}

#main-nav a i {
  display: none;
}

#main-nav #pageList {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  text-align: left;
}

#main-nav #pageList li {
  font-weight: bold;
  font-size: 1.2rem;
  margin: auto;
  margin-left: 3rem;
  transition: all 0.1s ease;
  padding: 0.3rem 0 0.2rem 0;
  border-bottom: 2px #fbf4e9 solid;
}

#main-nav #pageList li:hover {
  border-bottom: 2px #489c70 solid;
}

#main-nav #pageList i {
  margin-right: 0.3rem;
}

main #main-banner {
  z-index: -1;
  height: 50rem;
  background: #489c70;
  color: #fbf4e9;
}

main #main-banner #gif {
  position: relative;
  height: 500px;
  margin: auto 2rem auto 10rem;
}

main #main-banner #about-section {
  margin: auto 2rem;
  padding-right: 5rem;
}

main #main-banner .info-li {
  font-weight: 600;
  max-width: 700px;
  margin: auto;
  padding: 0.1rem 0;
}

main #main-banner #about-name {
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.7rem;
  display: inline-block;
}

main #main-banner #about-block {
  max-width: 500px;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 600;
}

main #scroll-down {
  display: none;
  margin: 1.5rem;
}

main #scroll-down a {
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fbf4e9 !important;
  background: #275a8e;
}

main .main-section {
  padding-top: 3rem;
}

main .skill-boxes {
  margin: auto;
  margin-top: 3rem;
  text-align: center;
}

main .skill-boxes .skill-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #333;
  padding-bottom: 1rem;
}

main .skill-boxes .skill-box-title {
  color: #fff;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

main .skill-boxes .skill-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 1rem;
}

main .skill-boxes .skill-list i {
  color: white;
  text-align: left;
  font-size: 2.5rem;
  background: #489c70;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.15s all ease-in-out;
}

main .skill-boxes .skill-list i p {
  padding-left: 0.6rem;
  padding-bottom: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

main .skill-boxes .skill-list i:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.6);
}

main .skill-boxes #c_plus_img {
  margin-left: -0.2rem;
  width: 39.5px;
}

main #resume {
  color: white;
  margin: 0.6rem auto 1.5rem auto;
  text-align: center;
  line-height: 1.5;
  padding: 0 2rem;
}

main #resume p {
  max-width: 25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

main #resume a {
  color: white;
  background: #489c70;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.15s all ease;
}

main #resume a:hover {
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
}

main #resume div {
  transition: 0.15s all ease;
}

main #resume div:hover {
  transform: scale(1.05);
}

main #projects .project-boxes {
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main #projects .project-boxes .project-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #333;
  padding-bottom: 1rem;
}

main #projects .project-boxes .project-box-title {
  color: #fff;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

main #projects .project-boxes .project-links {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

main #projects .project-boxes .project-links a {
  color: white;
  text-align: left;
  font-size: 2.5rem;
  background: #489c70;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.15s all ease-in-out;
}

main #projects .project-boxes .project-links a:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.6);
}

main #projects .project-boxes .project-links a:first-child {
  margin-right: 0.5rem;
}

main #projects .project-boxes .project-links a i {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
}

main #projects .project-boxes .project-links a p {
  padding-left: 0.6rem;
  padding-bottom: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

#main-footer,
#submit-footer {
  margin-top: 4rem;
  background: #489c70;
  color: #fff;
  padding: 2rem;
}

#main-footer h2,
#submit-footer h2 {
  padding: 2rem 0;
  margin: auto;
}

#main-footer i,
#submit-footer i {
  padding-right: 0.8rem;
  color: #fbf4e9;
}

#main-footer a,
#submit-footer a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-footer .container,
#submit-footer .container {
  justify-content: center;
  align-items: center;
}

#main-footer #main-contact-form .form-group,
#submit-footer #main-contact-form .form-group {
  padding-bottom: 1rem;
  width: 30rem;
}

#main-footer #main-contact-form form,
#submit-footer #main-contact-form form {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

#main-footer #main-contact-form form textarea,
#main-footer #main-contact-form form input,
#main-footer #main-contact-form form select,
#main-footer #main-contact-form form button,
#submit-footer #main-contact-form form textarea,
#submit-footer #main-contact-form form input,
#submit-footer #main-contact-form form select,
#submit-footer #main-contact-form form button {
  font-family: inherit;
  font-size: inherit;
}

#main-footer #main-contact-form label,
#submit-footer #main-contact-form label {
  padding: 0.5rem 0;
}

#main-footer #main-contact-form input,
#submit-footer #main-contact-form input {
  background: #fbf4e9;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
}

#main-footer #main-contact-form input:focus,
#submit-footer #main-contact-form input:focus {
  background: #ffffffa9;
  outline: none;
  border: none;
}

#main-footer #main-contact-form textarea,
#submit-footer #main-contact-form textarea {
  background: #fbf4e9;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5rem;
  font-size: 0.8rem;
  height: 8rem;
  resize: none;
  border: none;
}

#main-footer #main-contact-form textarea:focus,
#submit-footer #main-contact-form textarea:focus {
  background: #ffffffa9;
  outline: none;
  border: none;
}

#main-footer #main-contact-form input,
#main-footer #main-contact-form textarea,
#submit-footer #main-contact-form input,
#submit-footer #main-contact-form textarea {
  color: #222;
}

#main-footer #main-contact-form textarea:focus,
#main-footer #main-contact-form input:focus,
#submit-footer #main-contact-form textarea:focus,
#submit-footer #main-contact-form input:focus {
  color: #222;
}

#main-footer #main-contact-form input[type='submit'],
#submit-footer #main-contact-form input[type='submit'] {
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  background: #333;
  color: #fff;
}

#main-footer #main-contact-form input[type='submit']:hover,
#submit-footer #main-contact-form input[type='submit']:hover {
  background: #444;
}

#main-footer #main-contact-form input[type='submit']:focus,
#submit-footer #main-contact-form input[type='submit']:focus {
  background: #555;
}

#main-footer #contact-links,
#submit-footer #contact-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#main-footer #contact-links li,
#submit-footer #contact-links li {
  padding: 0 2rem;
}

#main-footer #contact-links li:hover i,
#submit-footer #contact-links li:hover i {
  opacity: 0.7;
}

#main-footer p,
#submit-footer p {
  font-size: 0.5rem;
}

.demo-btn {
  cursor: pointer;
  text-align: center;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  margin-bottom: 1rem;
  border-radius: 20px;
  transition: 0.15s all ease;
  font-size: 1.5rem;
}

.demo-btn:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.6);
}

.demo-body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.demo-body header {
  margin: 3rem 0;
  margin-bottom: 1.5rem;
}

.demo-body header .section-title {
  color: #fbf4e9;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#submit-banner {
  z-index: -1;
  height: 60rem;
  background: #489c70;
  color: #fbf4e9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit-banner h1 {
  padding-bottom: 2rem;
  font-size: 3rem;
}

#submit-banner a {
  background: #333;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
}

#submit-banner a:hover {
  transform: scale(1.03);
  box-shadow: 3px 5px 8px rgba(34, 34, 34, 0.4);
}

#submit-footer {
  margin-top: 0;
}

@media (max-width: 1300px) {
  #main-banner {
    flex-direction: column;
  }
  #main-banner #gif {
    position: relative;
    height: 500px;
    margin: auto !important;
    padding-bottom: 1rem;
  }
  #main-banner #about-section {
    padding: 0 0 2rem 0 !important;
  }
}

@media (max-width: 1150px) {
  main #projects .project-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #main-nav .logo {
    font-size: 1.5rem;
  }
  #main-nav #pageList li {
    padding: 0.1rem;
  }
  main #gif {
    height: 400px;
  }
  main .skill-list {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 0 !important;
  }
  main .project-boxes {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 700px) {
  #main-nav {
    bottom: 0;
    top: initial;
    position: fixed;
    width: 100%;
    border-top: 5px #489c70 solid;
    border-bottom: none;
  }
  #main-nav .container {
    padding: 0.7rem;
    flex-direction: column;
  }
  #main-nav .logo {
    text-align: center;
    margin: auto;
  }
  #main-nav #pageList {
    padding-top: 0.5rem;
    justify-content: space-between;
  }
  #main-nav #pageList li {
    padding: 0;
    padding-top: 0.2rem;
    margin: auto;
  }
  #main-nav #pageList li:hover {
    border: none;
  }
  #main-nav #pageList a span {
    display: none;
  }
  #main-nav #pageList a i {
    display: inline-block;
  }
  main #main-banner {
    height: 92vh;
  }
  main #main-banner #gif {
    position: static !important;
    height: 250px;
    padding-bottom: 0rem;
    padding-top: 2rem;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
  }
  main #main-banner #about-name {
    font-size: 1.5rem;
  }
  main #main-banner #about-block {
    font-size: 1rem;
  }
  main #main-banner #about-section {
    margin-top: 2rem;
  }
  main #main-banner #scroll-down {
    display: block;
  }
  main #submit-banner {
    height: 83vh;
  }
  main #submit-banner h1 {
    font-size: 2rem;
    padding: 1.5rem 1rem;
  }
  main #projects .project-boxes .project-links {
    flex-direction: column !important;
    align-items: flex-start;
  }
  main #projects .project-boxes .project-links a {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  main #projects .project-boxes .project-links a:first-child {
    margin-right: 0 !important;
  }
  main #projects .project-boxes .project-links a i {
    align-items: flex-start;
    justify-content: flex-start;
  }
  main #projects .project-boxes .project-links a i p {
    padding-top: 0.2rem;
  }
  .section-title {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  #submit-footer {
    padding: 0;
  }
  footer {
    padding-bottom: 7rem;
  }
  footer #contact {
    padding: 0 0.5rem;
  }
  footer #contact-links {
    align-self: center;
    padding: 0 1rem;
    padding-bottom: 3rem;
  }
  footer #contact-links span {
    display: none;
  }
  footer #contact-links li {
    padding: 0 0.5rem !important;
  }
  footer #main-contact-form {
    width: 100%;
  }
  footer #main-contact-form .form-group {
    padding-bottom: 1rem;
    width: 100% !important;
  }
  footer #main-contact-form input[type='submit'] {
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 400px) {
  main #main-banner #gif {
    height: 250px;
  }
  main #main-banner #about-name {
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  .demo-body .section-title {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 320px) {
  main #main-banner #gif {
    margin-top: 1rem !important;
  }
  main #main-banner #about-section {
    margin-top: 0rem;
  }
  main #main-banner #about-name {
    font-size: 1rem;
  }
  main #main-banner #about-block {
    font-size: 0.7rem;
    padding: 0 1rem;
  }
  main #main-banner #scroll-down a {
    margin: 0.5rem;
  }
  main #submit-banner {
    height: 80vh;
  }
}

@media (max-height: 520px) {
  main #main-banner #gif {
    height: 220px;
  }
}
/*# sourceMappingURL=main.css.map */